.home-page{
  padding-top: 70px;
}
.ml-auto.navbar-nav a {
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  color: #555;
  text-transform: capitalize;
}
.navbar-light .navbar-brand {
  font-weight: 700;
  font-size: 32px;
  color: #000;
}
.card-bottom .btn {
  background: #000;
  border: 1px solid #000;
}
.card-bottom .btn:hover {
  background: #fff;
  color: #000;
}
.login {
  border: 1px solid #ebdfdf;
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
}
.login-btn{
  border: 1px solid #ebdfdf;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
button.login-btn span {
  position: absolute;
  left: 20px;
}
/* Home page css */
.card {
  padding-top: 30px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,.45);
  box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  margin-bottom: 35px;
}
img.card-img-top {
  width: 60%;
  margin: 0 auto;
}
.card-title {
  font-weight: 700;
  text-transform: capitalize;
}
.card-bottom {
  padding: 0 25px 30px 25px;
  position: relative;
}
.card-bottom .card-link {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.card-bottom .btn {
  position: absolute;
  right: 10%;
}
/* order page css */
.orders {
  padding: 50px;
}
.summary{
  -webkit-box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,.45);
  box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  padding: 30px;
  margin-bottom: 70px;
}
.page-header{
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./images/Bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding: 100px 0;
  margin-bottom: 100px;
}
.page-header h1 {
  text-align: center;
  font-weight: 700;
}
.sidebar{
  -webkit-box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  -moz-box-shadow: 0px 20px 60px -30px rgba(0,0,0,.45);
  box-shadow: 0px 20px 60px -30px rgb(0 0 0 / 45%);
  padding:30px;
  margin-bottom: 60px;
}
.spinner-border {
  position: relative;
  left: 50%;
}
.sidebar ul li {
  cursor: pointer;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 43px;
}
.sidebar ul li span {
  padding-right: 10px;
}
form {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 30px;
}
.footer{
  margin-top: 50px;
}
.footer p {
  background-color: #000;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 480px) {
  
  .login {
    width: 100%;
  }
  
}